<div class="button_add_div">
  <button routerLink="/funfact-post" class="add_button">Add a new FunFact!</button>
</div>

<div class="body">
  <div class="funfact" *ngFor="let funFact of funFacts">

    <div class="funfact_header">
      <div class="funfact_logo">Fun Fact</div>
      <div class="funfact_header_info">
        <div class="funfact_title">{{funFact.title}}</div>
        <div class="funfact_description">{{funFact.description}}</div>
      </div>
    </div>

    <div class="funfact_body">
      <div class="funfact_content">{{funFact.content}}</div>
      <div class="funfact_visual">
        <div class="funfact_images">
          <img id="funfact_image1" src={{funFact.imagePath[0]}}/>
          <img id="funfact_image2" src={{funFact.imagePath[1]}}/>
        </div>
        <iframe class="funfact_video" width="560" height="315"
                [src]='sanitizer.bypassSecurityTrustResourceUrl(funFact.videoURL)' frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </div>

    <div class="funfact_footer">
      <div class="funfact_feedback">
        <div class="funfact_likes" [ngStyle]="{ 'background-image': likeImage, 'background-size': '85%'}">
          <button class="feedbackButton" (click)="funFact.increaseLikes()"></button>
        </div>
        <div class="count">{{funFact.likes}}</div>

        <div class="funfact_likes" [ngStyle]="{ 'background-image': dislikeImage }">
          <button class="feedbackButton" (click)="funFact.increaseDislikes()"></button>
        </div>
        <div class="count">{{funFact.dislikes}}</div>

      </div>

      <div class="tags">
        <div class="tag" *ngFor="let tag of funFact.tags"> {{tag}} </div>
      </div>
    </div>

    <div *ngFor="let comment of funFact.comments">
      <div class="comment_main">
        <div class="comment_userDetails">
          <img class="comment_pic" src="../../assets/images/funfact/user1.png"/>
          <div class="comment_user">{{comment.username}}</div>
        </div>
        <div class="comment_text">{{comment.comment}}</div>
      </div>

      <div class="comment_reply" *ngFor="let reply of comment.replies">
        <div class="comment_userDetails">
          <img class="comment_pic" src="../../assets/images/funfact/user1.png"/>
          <div class="comment_user">{{reply.username}}</div>
        </div>
        <div class="comment_text">{{reply.comment}}</div>
      </div>
    </div>

    <form class="funfact_comment_form" [formGroup]="funFact.messageForm" (ngSubmit)="funFact.onSubmit()"
          (keydown)="funFact.enterPressed($event)">
      <label class="comment_message">
        Insert your comment below:
        <textarea formControlName="message"></textarea>
      </label>
      <div *ngIf="funFact.submittedComment && funFact.messageForm.controls.message.errors" class="funfact_submit_error">
        <div *ngIf="funFact.messageForm.controls.message.errors.required">Error! Empty comment not allowed!</div>
      </div>
      <input type="submit" value="Post comment" class="funfact_comment_submit_btn"/>
    </form>
  </div>


</div>
