<div class="leaderboard">
  <div class="user_details">
    <div class="user_position">
      <h3>
        Your Position:
      </h3>
      <h1>
        {{loggedUser.position}}
      </h1>

    </div>
    <div class="user_description">
      <div class="user_pic"></div>
      <div class="user_info">
        <h3>
          {{loggedUser.name}}
        </h3>
        <h3>
          Score: {{loggedUser.totalScore}}
        </h3>
        <h3>
          Rewards: {{loggedUser.rewards[0]}}, {{loggedUser.rewards[1]}}
        </h3>
      </div>
    </div>

  </div>

  <div class="bar"></div>

  <div class="rankings">
    <div class="ranking">
      <div class="position">
        <h1>
          {{andreea.position}}
        </h1>
      </div>
      <div class="specific_user">
        <div class="profile_pic">
          <img alt="" src="../../assets/images/profile_pic.jpg"/>
        </div>
        <div class="details">
          <h3>
            {{andreea.name}}
          </h3>
          <h3>
            Score: {{andreea.totalScore}}
          </h3>
          <h3>
            Rewards: {{andreea.rewards[0]}}, {{andreea.rewards[1]}}
          </h3>
        </div>
      </div>

    </div>

    <div class="ranking">
      <div class="position">
        <h1>
          {{andrei.position}}
        </h1>
      </div>
      <div class="specific_user">
        <div class="profile_pic">
          <img alt="" src="../../assets/images/profile_pic.jpg"/>
        </div>
        <div class="details">
          <h3>
            {{andrei.name}}
          </h3>
          <h3>
            Score: {{andrei.totalScore}}
          </h3>
          <h3>
            Rewards: {{andrei.rewards[0]}}, {{andrei.rewards[1]}}
          </h3>
        </div>
      </div>

    </div>
  </div>
</div>
