<div class="body">
  <div class="top_div">
    <div class="left_div">
      <div class="img">

      </div>
      <div class="img_btn">
        <button class="change_btn">Change Picture</button>
      </div>
    </div>
    <div class="right_div">
      <h1>{{johnny.name}}</h1>
      <h2>Edit User Profile</h2>
    </div>
  </div>
  <div class="bottom_div">
    <div class="name_div">
      <h3>Name</h3>
      <input  class="edit_input" type="text">
    </div>
    <div class="university_div">
        <h3>University</h3>
        <input  class="edit_input" type="text">
    </div>
    <div class="specialization_div">
        <h3>Specialization</h3>
        <input  class="edit_input" type="text">
    </div>
    <div class="occupation_div">
        <h3>Occupation</h3>
        <input  class="edit_input" type="text">
    </div>
    <div class="dob_div">
        <h3>Date of birth</h3>
        <input  class="edit_input" type="date">
    </div>
    <div class="pass_div">
        <h3>Password</h3>
        <input  class="edit_input" type="password">
    </div>
    <div class="confirm_pass_div">
        <h3>Confirm Password</h3>
        <input  class="edit_input" type="password">
    </div>
    <div class="buttons_div">
      <button class="back_btn">Back</button>
      <button class="save_btn">Save Changes</button>
    </div>
  </div>

</div>