<div class="body">
  <div class="top_div">
    <div class="left_div">
      <div class="img_div">
        <img alt="" src="../../assets/images/profile_pic.jpg"/>
      </div>
      <div class="img_btn">
        <button class="change_btn">Change Picture</button>
      </div>
    </div>
    <div class="right_div">
      <h1>{{johnny.name}}</h1>
      <h2>Edit User Profile</h2>
    </div>
  </div>
  <div class="bottom_div">
    <div class="edit_field">
      <h3>Name</h3>
      <input class="edit_input" type="text">
    </div>
    <div class="edit_field">
      <h3>University</h3>
      <input class="edit_input" type="text">
    </div>
    <div class="edit_field">
      <h3>Specialization</h3>
      <input class="edit_input" type="text">
    </div>
    <div class="edit_field">
      <h3>Occupation</h3>
      <input class="edit_input" type="text">
    </div>
    <div class="edit_field">
      <h3>Date of birth</h3>
      <input class="edit_input" type="date">
    </div>
    <div class="edit_field">
      <h3>Password</h3>
      <input class="edit_input" type="password">
    </div>
    <div class="edit_field">
      <h3>Confirm Password</h3>
      <input class="edit_input" type="password">
    </div>
    <div class="buttons_div">
      <button class="back_btn" routerLink="/personal-profile">Back</button>
      <button class="save_btn">Save Changes</button>
    </div>
  </div>

</div>
