<div class="personal_profile_div">
  <div class="button_edit_div">
    <button class="edit_button" routerLink="/edit">Edit profile</button>
  </div>
  <div class="personal_info">
    <div class="profile_picture"></div>
    <div class="bio">
      <h1>{{johnny.name}}</h1>
      <h3>{{johnny.university}}</h3>
      <h3>{{johnny.specialization}}</h3>
      <h3>{{johnny.occupation}}</h3>
      <h3>Age {{johnny.age}}</h3>
      <h3>Score {{johnny.score}}</h3>
      <h3>Ranking {{johnny.ranking}}</h3>
    </div>
  </div>
  <div class="skills">
    <div><h2>Skills</h2></div>
    <div class="skill">
      <h3>Technologies</h3>
      <img alt="" src="../../assets/images/progress_bar.png"/>
    </div>
    <div class="skill">
      <h3>Concepts</h3>
      <img alt="" src="../../assets/images/progress_bar.png"/>
    </div>
    <div class="skill">
      <h3>Mathematics</h3>
      <img alt="" src="../../assets/images/progress_bar.png"/>
    </div>
    <div class="skill">
      <h3>Algorithms</h3>
      <img alt="" src="../../assets/images/progress_bar.png"/>
    </div>
    <div class="skill">
      <h3>Hardware</h3>
      <img alt="" src="../../assets/images/progress_bar.png"/>
    </div>
    <div class="skill">
      <h3>Software</h3>
      <img alt="" src="../../assets/images/progress_bar.png"/>
    </div>
  </div>

  <div class="awards">
    <div class="award">
      <img alt="" src="../../assets/images/top_scorer.png"/>
      <h3>Top Scorer</h3>
    </div>
    <div class="award">
      <img alt="" src="../../assets/images/math_master.png"/>
      <h3>Math Master</h3>
    </div>
    <div class="award">
      <img alt="" src="../../assets/images/hardware_hero.png"/>
      <h3>Hardware Hero</h3>
    </div>
    <div class="award">
      <img alt="" src="../../assets/images/vhdl_geek.png"/>
      <h3>VHDL Geek</h3>
    </div>
    <div class="award">
      <img alt="" src="../../assets/images/csharp_guru.png"/>
      <h3>C# Guru</h3>
    </div>

  </div>
</div>
