<div class="button_add_div">
  <button class="add_button" [routerLink]="['/askk']">Add a new Question!</button>
</div>

<div class="body">
  <div class="list" *ngFor="let question of questions">

      <div class="list_presentation">
        <div class="list_image"></div>
        
        <div class="list_text">
          <div class="list_title" >{{question.title}}</div>
          <div class="button_answer_div"><button class="add_button" (click)="redirectToAnswer()">Answer Question</button></div>
        </div>
      </div>
  
      <div class="list_bottom">
        <div class="tags" *ngFor="let tag of question.tags">
          <div class="tag">{{tag}}</div>
        </div>
  
        <div class="feedback">
          <div class="likes" [ngStyle]="{ 'background-image': likeImage, 'background-size': '85%'}">
            <button class="feedbackButton" (click)="increaseLikes(question)"></button>
          </div>
          <div class="count">{{question.likeCount}}</div>
  
          <div class="likes" [ngStyle]="{ 'background-image': dislikeImage }">
            <button class="feedbackButton" (click)="increaseDislikes(question)"></button>
          </div>
          <div class="count">{{question.dislikeCount}}</div>
        </div>
      </div>
  
    </div>
</div>
