<div class="page-home">

  <div class="page-home-head">

    <slideshow #slideshow [autoPlay]="true"
               [autoPlayInterval]="5000"
               [imageUrls]="images"
               [showDots]="true"
               [lazyLoad]="images?.length > 1"
               [autoPlayWaitForLazyLoad]="true"></slideshow>

    <div class="Panel-box">
      <div class="Panel-content">
        <div class="Panel-title"
             [ngStyle]="{ 'font-size': '3em',
             'left': slides[slideshow.slideIndex].titleRelativePercentages[0] + '%',
             'top': slides[slideshow.slideIndex].titleRelativePercentages[1] + '%',
             'right': slides[slideshow.slideIndex].titleRelativePercentages[2] + '%',
             'bottom': slides[slideshow.slideIndex].titleRelativePercentages[3] + '%'}">{{slides[slideshow.slideIndex].imageTitle}}</div>
        <div class="Panel-title"
             [ngStyle]="{ 'font-size': '2em',
             'left': slides[slideshow.slideIndex].contentRelativePercentages[0] + '%',
             'top': slides[slideshow.slideIndex].contentRelativePercentages[1] + '%',
             'right': slides[slideshow.slideIndex].contentRelativePercentages[2] + '%',
             'bottom': slides[slideshow.slideIndex].contentRelativePercentages[3] + '%'}">{{slides[slideshow.slideIndex].imageContent[0]}}</div>
        <div class="Panel-title"
             [ngStyle]="{ 'font-size': '2em',
             'left': slides[slideshow.slideIndex].contentRelativePercentages[4] + '%',
             'top': slides[slideshow.slideIndex].contentRelativePercentages[5] + '%',
             'right': slides[slideshow.slideIndex].contentRelativePercentages[6] + '%',
             'bottom': slides[slideshow.slideIndex].contentRelativePercentages[7] + '%'}">{{slides[slideshow.slideIndex].imageContent[1]}}</div>
        <div class="Panel-buttons" [ngStyle]="{
             'left': slides[slideshow.slideIndex].buttonRelativePercentages[0] + '%',
             'top': slides[slideshow.slideIndex].buttonRelativePercentages[1] + '%',
             'right': slides[slideshow.slideIndex].buttonRelativePercentages[2] + '%',
             'bottom': slides[slideshow.slideIndex].buttonRelativePercentages[3] + '%'}">

          <a class="link" routerLink={{slides[slideshow.slideIndex].hyperlink}}>
            <div class="Button-outer">
              <div class="Button-label">{{slides[slideshow.slideIndex].buttonText}}</div>
            </div>
          </a>

        </div>

      </div>
    </div>

  </div>

  <div class="page-home-section">

    <div class="Panel">
      <div class="Panel-bg" [ngStyle]="{ 'background-image': joinCommunityImage, 'filter': 'blur(0)' }"></div>

      <a class="link" routerLink="/tutorials">
        <div class="Panel-area">
          <div class="Panel-box">
            <div class="Panel-content">
              <div class="Panel-title"
                   [ngStyle]="{ 'font-size': '3.5em', 'top': '10%', 'left': '15%' }">{{joinCommunityMessage1}}</div>
              <div class="Panel-title"
                   [ngStyle]="{ 'font-size': '2.5em', 'bottom': '25%', 'left': '25%' }">{{joinCommunityMessage2}}</div>
            </div>
          </div>
        </div>
      </a>

    </div>

  </div>

  <div class="Panel">
    <div class="Panel-bg" [ngStyle]="{ 'background-image': answerImage}"></div>

    <a class="link" routerLink="/qa">
      <div class="Panel-area">
        <div class="Panel-box">
          <div class="Panel-content">
            <div class="Panel-title"
                 [ngStyle]="{ 'font-size': '2.5em', 'top': '5%', 'left': '0' }">{{answerMessage1}}</div>
            <div class="Panel-title"
                 [ngStyle]="{ 'font-size': '2.5em', 'top': '25%', 'left': '10%' }">{{answerMessage2}}</div>
            <div class="Panel-title"
                 [ngStyle]="{ 'font-size': '2.5em', 'bottom': '25%', 'left': '45%' }">{{answerMessage3}}</div>
          </div>
        </div>
      </div>
    </a>

  </div>


  <div class="Panel">
    <div class="Panel-bg" [ngStyle]="{ 'background-image': testKnowledgeImage }"></div>

    <a class="link" routerLink="/quizzes">
      <div class="Panel-area">
        <div class="Panel-box">
          <div class="Panel-content">
            <div class="Panel-title" [ngStyle]="{ 'font-size': '2.5em'}">{{testKnowledgeMessage}}</div>
          </div>
        </div>
      </div>
    </a>

  </div>

  <div class="page-home-section">
    <div class="Panel">
      <div class="Panel-bg" [ngStyle]="{ 'background-image': tutorialImage, 'filter': 'blur(0px)'}"></div>

      <a class="link" routerLink="/tutorials">
        <div class="Panel-area">
          <div class="Panel-box">
            <div class="Panel-content">
              <div class="Panel-title"
                   [ngStyle]="{ 'color': 'rgba(25,54,84,1)', 'font-size': '3.5em', 'top': '10%', 'left': '10%' }">{{learningMessage1}}</div>
              <div class="Panel-title"
                   [ngStyle]="{ 'color': 'rgba(139,214,0,1)', 'font-size': '2.5em', 'bottom': '15%', 'left': '30%' }">{{learningMessage2}}</div>
            </div>
          </div>
        </div>
      </a>

    </div>
  </div>
  <div class="Panel">
    <div class="Panel-bg" [ngStyle]="{ 'background-image': helpImage}"></div>

    <div class="Panel-area">
      <div class="Panel-box">
        <div class="Panel-content">
          <div class="Panel-title"
               [ngStyle]="{ 'color': 'black', 'font-size': '3em'}">{{helpMessage}}</div>
          <div class="Panel-buttons" [ngStyle]="{ 'left': splitLeft}">

            <a class="link" routerLink="/tutorials">
              <div class="Button-outer">
                <div class="Button-label">Create A Tutorial!</div>
              </div>
            </a>

            <a class="link" routerLink="/qa">
              <div class="Button-outer">
                <div class="Button-label">Answer A Question!</div>
              </div>
            </a>

          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="Panel">
    <div class="Panel-bg" [ngStyle]="{ 'background-image': achievementImage, 'filter': 'blur(0)'}"></div>

    <a class="link" routerLink="/tutorials">
      <div class="Panel-area">
        <div class="Panel-box">
          <div class="Panel-content">
            <div class="Panel-title"
                 [ngStyle]="{ 'color': 'rgba(84,87,92,1)', 'top': '5%' }">{{achievementMessage1}}</div>
            <div class="Panel-title"
                 [ngStyle]="{ 'color': 'rgba(18,111,126,1)', 'font-size': '2em', 'bottom': '10%'}">{{achievementMessage2}}</div>
          </div>
        </div>
      </div>
    </a>

  </div>

  <div class="page-home-section">
    <div class="Panel">
      <div class="Panel-bg" [ngStyle]="{ 'background-image': feedbackImage, 'filter': 'blur(0)'}"></div>

      <a class="link" routerLink="/contact">
        <div class="Panel-area">
          <div class="Panel-box">
            <div class="Panel-content">
              <div class="Panel-title"
                   [ngStyle]="{ 'color': 'rgba(67,41,24,1)', 'top': '10%', 'left': '15%'}">{{feedbackMessage}}</div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

</div>

