<div class="body">
  <div class="page_title">
    <p>Ask a question</p>
  </div>
  <form class="" [formGroup]="addQuestionForm" (ngSubmit)="onSubmit()">
  <div class="title">
    <p>Title</p>
    <p>(All question must have one)</p>
    <input class="title_input" type="text" formControlName="title"/>
  </div>
  <div class="q_body">
      <p>Body of the question</p>
      <p>(Please explain the exact context and add a code snippet if possible)</p>
      <input class="body_input" type="text" formControlName="description"/>
  </div>
  <div class="tags">
    <div class="add_tag">
      <p>Add tag</p>
      <input class="tag_input" type="text" formControlName="tags"/>
    </div>

  </div>
  <div class="button_div">
      <input type="submit" class="add_q_btn" value="Ask Question" />
  </div>
</form>

</div>
