<h1>Contact Us!</h1>

<div class="contact_text">
  <p>Your opinion means a great deal to us! Whether you have any suggestions, complaints or you wish to submit a
  bug/issue, please use the area below to leave your feedback. The feedback is anonymous, thus any opinion can be expressed without repercussions!
  In case an issue is reported, we shall try to solve it as fast as possible.
  Have a wonderful day!</p>
</div>

<form [formGroup]="messageForm" (ngSubmit)="submitFeedback()">

  <p *ngIf="submitted" [ngClass]="{
  'green':success,
  'red':!success
}">{{errMessage}}</p>

  <label>
    <textarea formControlName="message"></textarea>
  </label>

</form>

<div class="submit_button_div">
  <button (click)="submitFeedback()" class="submit_button">Submit!</button>
</div>
