<div class="button_add_div">
  <button class="add_button" routerLink="/addQuiz">Add a new Quiz!</button>
</div>

<div class="body">

  <div class="list" *ngFor="let quiz of quizzes" (click)="viewQuiz(quiz)">

    <div class="list_presentation">
      <div class="list_image"></div>

      <div class="list_text">
        <div class="list_title">{{quiz.title}}</div>
        <div class="list_description">{{quiz.description}}</div>
      </div>
    </div>

    <div class="list_bottom">
      <div class="tags" *ngFor="let tag of quiz.tags">
        <div class="tag">{{tag}}</div>
      </div>

      <div class="feedback">
        <div class="likes" [ngStyle]="{ 'background-image': likeImage, 'background-size': '85%'}">
          <button class="feedbackButton" (click)="increaseLikes(quiz)"></button>
        </div>
        <div class="count">{{quiz.likeCount}}</div>

        <div class="likes" [ngStyle]="{ 'background-image': dislikeImage }">
          <button class="feedbackButton" (click)="increaseDislikes(quiz)"></button>
        </div>
        <div class="count">{{quiz.dislikeCount}}</div>
      </div>
    </div>

  </div>


</div>
