<div class="list">
  <div class="list_presentation">
    <div class="list_image">
      <img alt="" src="/../../assets/images/quizzes.png" />
    </div>
    <div class="list_text">
      <div class="list_title">
        Java Master
      </div>
      <div class="list_description">
        Prove you are a Java Master!
      </div>
    </div>
  </div>
  <div class="tags">
    <div class="tag">
      Java
    </div>
    <div class="tag">
      OOP
    </div>
    <div class="tag">
      Design Patterns
    </div>
  </div>
</div>

<div class="list">
    <div class="list_presentation">
      <div class="list_image">
        <img alt="" src="/../../assets/images/quizzes.png" />
      </div>
      <div class="list_text">
        <div class="list_title">
          C# Guru
        </div>
        <div class="list_description">
          Show the world you have a sharp mind!
        </div>
      </div>
    </div>
    <div class="tags">
      <div class="tag">
        C#
      </div>
      <div class="tag">
        Web
      </div>
      <div class="tag">
        .NET
      </div>
    </div>
  </div>
