<div class="button_add_div">
  <button class="add_button">Add a new Quiz!</button>
</div>

<div class="body">

  <div class="list">

    <div class="list_presentation">
      <div class="list_image">
        <img alt="" src="../../assets/images/quizzes.png"/>
      </div>

      <div class="list_text">
        <div class="list_title">{{javaMasterQuiz.title}}</div>
        <div class="list_description">{{javaMasterQuiz.description}}</div>
      </div>
    </div>

    <div class="list_bottom">
      <div class="tags">
        <div class="tag">{{javaMasterQuiz.tags[0]}}</div>
        <div class="tag">{{javaMasterQuiz.tags[1]}}</div>
        <div class="tag">{{javaMasterQuiz.tags[2]}}</div>
      </div>

      <div class="feedback">
        <div class="likes" [ngStyle]="{ 'background-image': likeImage, 'background-size': '85%'}">
          <button class="feedbackButton" (click)="increaseLikes(javaMasterQuiz)"></button>
        </div>
        <div class="count">{{javaMasterQuiz.likeCount}}</div>

        <div class="likes" [ngStyle]="{ 'background-image': dislikeImage }">
          <button class="feedbackButton" (click)="increaseDislikes(javaMasterQuiz)"></button>
        </div>
        <div class="count">{{javaMasterQuiz.dislikeCount}}</div>
      </div>
    </div>

  </div>

  <div class="list">

    <div class="list_presentation">
      <div class="list_image">
        <img alt="" src="../../assets/images/quizzes.png"/>
      </div>

      <div class="list_text">
        <div class="list_title">{{cSharpGuruQuiz.title}}</div>
        <div class="list_description">{{cSharpGuruQuiz.description}}</div>
      </div>
    </div>

    <div class="list_bottom">
      <div class="tags">
        <div class="tag">{{cSharpGuruQuiz.tags[0]}}</div>
        <div class="tag">{{cSharpGuruQuiz.tags[1]}}</div>
        <div class="tag">{{cSharpGuruQuiz.tags[2]}}</div>
      </div>

      <div class="feedback">
        <div class="likes" [ngStyle]="{ 'background-image': likeImage, 'background-size': '85%'}">
          <button class="feedbackButton" (click)="increaseLikes(cSharpGuruQuiz)"></button>
        </div>
        <div class="count">{{cSharpGuruQuiz.likeCount}}</div>

        <div class="likes" [ngStyle]="{ 'background-image': dislikeImage }">
          <button class="feedbackButton" (click)="increaseDislikes(cSharpGuruQuiz)"></button>
        </div>
        <div class="count">{{cSharpGuruQuiz.dislikeCount}}</div>

      </div>

    </div>

  </div>
</div>
