<div><h1>Results: {{quiz.title}}</h1></div>

<div class="body_div">
  <div>Correct answers: 3/3</div>
  <div>Score: 75/75</div>
  <div>Badges:</div>
  <br>
  <div class="awards">
    <div class="award">
      <img alt="" src="../../assets/images/top_scorer.png"/>
      <h3>Top Scorer</h3>
    </div>
    <div class="award">
      <img alt="" src="../../assets/images/math_master.png"/>
      <h3>Java Prodigy</h3>
    </div>
  </div>

  <div class="ctrl_buttons">
    <input type="button" value="SEE GLOBAL RANKING" class="post_btn" routerLink="/global-ranking"/>
    <input type="button" value="CHECK YOUR PROFILE" class="post_btn" routerLink="/personal-profile"/>
  </div>

</div>
