<div class="body">
  <div class="presentation_div">
    <div class="intro">
      <div class="text">
        <h1>{{tutorial.title}}</h1>
        <h2>{{tutorial.shortDescription}}</h2>
      </div>
      <div class="feedback">
        <img alt="" src="../../../assets/images/like02.png"/>
        <h3>{{tutorial.likeCount}}</h3>
      </div>
      <div class="feedback">
        <img alt="" src="../../../assets/images/dislike3.png"/>
        <h3>{{tutorial.dislikeCount}}</h3>
      </div>
    </div>
    <div class="detailed_description">
      <h3>{{tutorial.detailed_description}}
      </h3>
    </div>
  </div>
  <div class="video_div">
    <iframe class="funfact_video" width="560" height="315"
            [src]='sanitizer.bypassSecurityTrustResourceUrl(tutorial.video)' frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="steps">
    <div class="step" *ngFor="let step of tutorial.steps">
      <div class="step_title">
        <h2>{{step.title}}</h2>
      </div>
      <div class="step_body">
        <h3>{{step.description}}</h3>
      </div>
    </div>
  </div>
</div>
