header {
  background: #000000;
  font-family: "Comic Sans MS", serif;

  .logo {
    font-weight: bold;
    font-size: 16pt;
  }

  nav {
    justify-self: right;
    width: 100%;

    ul {
      list-style-type: none;
      margin: 0; padding: 0;

      li {
        float: left;

        a {
          padding: 1.5em;
          text-transform: uppercase;
          font-size: .8em;

          &:hover {
            background: #616977;
          }
        }
      }
    }
  }
}
